<div>
    <h2>Inserisci Tavolo</h2>
    <!-- Questo div racchiuderà tutti i campi di input della form -->
    <div class="form">

        <div class="form-group">
            <!-- compare l'etichetta 'titolo'
            a fianco dell'input, collegata alla proprietà 'title'-->
            <label for="posti">Posti</label>
            <input type="number" id="posti" [(ngModel)]="posti" min="1">
        </div>
        <div class="form-group">
            <label for="isRotondo">Rotondo</label>
            <input type="checkbox" id="isRotondo" [(ngModel)]="isRotondo">
        </div>
        <div class="form-group">
            <button id="reset" (click)="resetForm()">Reset</button>
            <button id="invia" (click)="addTavolo()">Aggiungi</button>
        </div>
    </div>